<br><br>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Image</th>
            <th>Edit</th>

            <th>Delete</th>

        </tr>
    </thead>
    <tbody *ngFor="let item of storeData">
        <tr *ngFor="let employeeDetails of item.data">

            <td><a [routerLink]="['/listDetails',employeeDetails.id]"
                    routerLinkActive="router-link-active">{{employeeDetails.id}}</a></td>
            <td>{{employeeDetails.email}}</td>
            <td>{{employeeDetails.first_name}}</td>
            <td>{{employeeDetails.last_name}}</td>
            <img src={{employeeDetails.avatar}} width="100px" height="100px">
            <td><button class="btn btn-success"><a
            [routerLink]="['/updateDetails',employeeDetails.id]">Update</a></button></td>
            <button class="btn btn-danger" (click)="delete($event)">Delete</button>





        </tr>

    </tbody>
</table>
<router-outlet></router-outlet>