<table class="table">
    <thead *ngFor="let item of viewEmployeeDetails">
        <th *ngFor="let viewDetails of item.data">
            <div *ngIf="storeParam==viewDetails.id">

                <tr>
                    <th>First Name:  </th>
                    {{viewDetails.first_name}}
                </tr>
               
                <tr>
                    <th>Last Name:</th>
                    {{viewDetails.last_name}}

                </tr>
                <tr>
                    <th>Email:  </th>
                    {{viewDetails.email}}
                </tr>
                
            </div>
        </th>
    </thead>
</table>